/*

	Copyright 2007-2011 @ zulazman.com
	
	DO NOT COPY or RE-DISTRIBUTE without written consent from:
	- zuL Azman (iam@zulazman.com).
	
	Site Name: zulazman
	Site URL: -confidential-
	Description: Online Portfolio of zuL azman
	Version: 5.0
	Author: iam@zulazman.com / zmnzul2@gmail.com
	Author URL: http://www.zulazman.com

*/
/* General
-------------------------*/
body {
  position: relative;
  background: #f8f8f8;
}
#js-installer {
  background: #fff;
  padding: 0 20px;
  margin: 50px 0;
  box-shadow: 1px 1px 5px rgba(81, 81, 81, 0.1);
  border: 1px solid #ddd;
}
#js-installer .js-header {
  padding: 10px 20px;
  margin: 0 -19px 0 -19px;
  border-bottom: 1px solid #ddd;
  background: #ffffff;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-8 */

  box-shadow: inset 0 -1px 1px #ffffff;
}
#js-installer .js-header h1 {
  text-indent: -9999px;
  margin: 0 auto;
  background: url(../img/logojs.png) no-repeat 0 0;
  height: 78px;
  width: 244px;
}
#js-installer .nav-tabs {
  margin-bottom: 0;
  margin-right: -1px;
  padding: 32px 0;
}
#js-installer .tab-content {
  padding: 30px;
  border-left: 1px solid #DDD;
}
#js-installer .tab-content .js-title {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#js-installer .tab-content .js-title h2 {
  font-size: 22px;
  margin: 0;
}
#js-installer .tab-content .js-title .pull-right {
  margin-top: 4px;
}
#js-installer .tab-content h3 {
  font-size: 18px;
  margin-top: 0;
}
#js-installer .tab-content .well {
  margin-top: 20px;
  margin-bottom: 0;
}
#js-installer .tab-content .well.js-done h3 {
  color: #B94A48;
  line-height: 10px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
#js-installer .tab-content .tabular-data {
  background: #fff;
  padding: 10px;
  margin-top: 15px;
  display: block;
}
#js-installer .tab-content .tabular-data .table {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
#js-installer .tab-content .tabular-data .table td.right {
  text-align: right;
}
#js-installer .tab-content .tabular-data.loosemargin {
  margin: 0;
}
#js-installer .tab-content .alert-success,
#js-installer .tab-content .alert-error {
  margin-top: 20px;
}
#js-installer .last {
  margin-bottom: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
