<?xml version="1.0" encoding="utf-8"?>
<extension version="3.4" type="plugin" group="community">
	<license>http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL</license>
	<params>
		<param name="googleCode" type="textarea" class="fullwidth" style="font-size:xx-small;" default="" label="PLG_GOOGLE_ADS_CODE" description="PLG_GOOGLE_ADS_CODE_DESC" />
	</params>
</extension>
