.joms-map--location-selector {
    height: 150px;
    margin: 0;
    overflow: auto;
    padding: 0;
    width: auto;
}

.joms-map--location-item {
    display: block;
}

.joms-map--location-item,
.joms-map--location-item:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.joms-map--location-item span {
    font-size: .9em;
}

.joms-map--location-item--notice {
    display: block;
    font-style: italic;
}
